<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.fastpass.FastPassMediaMapper">

	<!--表名 -->
	<sql id="tableName">
		cl_fastpass_media
	</sql>

	<!--历史流程参与者表 -->
	<sql id="ahitableName">
		ACT_HI_IDENTITYLINK
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		id,
		process_id,
		media_type,
		media_path,
		status
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},
		#{process_id},
		#{media_type},
		#{media_path},
		#{status}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		status = #{status}
		where
		id = #{id}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> H
		where status != '0'
		<if test="ID != null and ID != ''"><!-- 按id检索 -->
			and H.id=#{ID}
		</if>
		<if test="process_id != null and process_id != ''"><!-- 按process_id检索 -->
			and H.process_id=#{process_id}
		</if>
		<if test="media_type != null and media_type != ''"><!-- 按媒体类型检索 -->
			and H.media_type=#{media_type}
		</if>
		order by H.order
	</select>

	
</mapper>