<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.fastpass.FastPassMapper">

	<!--表名 -->
	<sql id="tableName">
		cl_fastpass
	</sql>

	<!--历史流程参与者表 -->
	<sql id="ahitableName">
		ACT_HI_IDENTITYLINK
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		process_id,
		door,
		user_id,
		department,
		car_num,
		state,
		ex_company,
		a_pile_of_shit,
		committime
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{process_id},
		#{door},
		#{user_id},
		#{department},
		#{car_num},
		#{state},
		#{ex_company},
		#{a_pile_of_shit},
		#{committime}
		
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		process_id = #{process_id}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		process_id = #{process_id},
		door = #{door},
		user_id = #{user_id},
		department = #{department},
		car_num = #{car_num},
		state = #{state},
		ex_company = #{ex_company},
		a_pile_of_shit = #{a_pile_of_shit},
		committime = #{committime}
		where
		process_id = #{process_id}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		od.NAME,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		H
		left join oa_department od
		on 
		H.department = od.DEPARTMENT_ID
		where
		process_id = #{process_id}
	</select><!--#{}里对应前端发来的键-->
	
	<!-- 通过code获取数据 -->
	<select id="findByCode" parameterType="pd" resultType="pd">
		select
		od.NAME,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		H
		left join oa_department od
		on 
		H.department = od.DEPARTMENT_ID
		where
		H.state != '0'
		and 
		(process_id LIKE CONCAT('%', #{process_id})
		or
		car_num LIKE CONCAT(CONCAT('%', #{process_id}),'%'))
	</select><!--#{}里对应前端发来的键-->

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		od.NAME,
		H.process_id,
		H.door,
		H.user_id as aaa,
		H.department,
		H.car_num,
		H.state,
		H.ex_company,
		H.a_pile_of_shit,
		H.committime
		from
		<include refid="tableName"></include>
		H
		left join oa_department od
		on 
		H.department = od.DEPARTMENT_ID
		where H.state !='0'
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			(
			H.ex_company LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.process_id LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			)
		</if>
		<if test="pd.STATUS != null and pd.STATUS != ''"><!-- 按状态检索 -->
			and H.state=#{pd.STATUS}
		</if>
		<if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 仅看自己的 -->
			and H.user_id=#{pd.USERNAME}
		</if>
		order by H.committime desc
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>