<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.fh.mapper.dsno1.fhoa.AccompanyingTableMapper">
	<!-- 流程伴随表Mapper -->
	<!-- 根据流程实例ID修改伴随表状态 -->
	<update id="updateStatusToAccompanyingTable" parameterType="pd">
		update
		<if test="TABLENAME != null and TABLENAME != ''"><!-- 表名 -->
			${TABLENAME}
		</if>
		set
		STATUS = #{STATUS}
		where
		PROC_INST_ID_ = #{PROC_INST_ID_}
	</update>

	<!-- 根据流程实例ID修改伴随表状态和任意指定的一个字段的字段值 -->
	<update id="updateStatusAndFieldToAccompanyingTable"
		parameterType="pd">
		update
		<if test="TABLENAME != null and TABLENAME != ''"><!-- 表名 -->
			${TABLENAME}
		</if>
		set
		STATUS = #{STATUS}
		<if test="FIELDNAME0 != null and FIELDNAME0 != ''"><!-- 自定义字段0 -->
			,${FIELDNAME0} = #{FIELDVALUE0}
		</if>
		<if test="FIELDNAME1 != null and FIELDNAME1 != ''"><!-- 自定义字段1 -->
			,${FIELDNAME1} = #{FIELDVALUE1}
		</if>
		<if test="FIELDNAME2 != null and FIELDNAME2 != ''"><!-- 自定义字段2 -->
			,${FIELDNAME2} = CONCAT(IFNULL(${FIELDNAME2},''),#{FIELDVALUE2})
		</if>
		where
		PROC_INST_ID_ = #{PROC_INST_ID_}
	</update>

	<!-- 根据流程实例ID获取伴随表当前状态 -->
	<select id="getStatusFromAccompanyingTable" parameterType="pd"
		resultType="pd">
		select STATUS
		from
		<if test="TABLENAME != null and TABLENAME != ''"><!-- 表名 -->
			${TABLENAME}
		</if>
		where
		PROC_INST_ID_ = #{PROC_INST_ID_}
	</select>
</mapper>