<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.fhoa.LargeHoistingMapper">

	<!--表名 -->
	<sql id="tableName">
		OA_LARGEHOISTING
	</sql>

	<!--历史流程参与者表 -->
	<sql id="ahitableName">
		ACT_HI_IDENTITYLINK
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ID,
		PROC_INST_ID_,
		APPLYUSER,
		PROJECTNAME,
		PROJECTLEADER,
		CONSTRUCTION,
		JOBLOCATION,
		ENTERTIME,
		TENTERTIME,
		CHECKPOINT,
		PROBLEM,
		COMMITTIME,
		STATUS,
		FILE_PATH,
		OFName,
		INTERVENTION
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},
		#{PROC_INST_ID_},
		#{APPLYUSER},
		#{PROJECTNAME},
		#{PROJECTLEADER},
		#{CONSTRUCTION},
		#{JOBLOCATION},
		#{ENTERTIME},
		#{TENTERTIME},
		#{CHECKPOINT},
		#{PROBLEM},
		#{COMMITTIME},
		#{STATUS},
		#{FILE_PATH},
		#{OFName},
		#{INTERVENTION}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		ID = #{ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		APPLYUSER = #{APPLYUSER},
		PROJECTNAME = #{PROJECTNAME},
		PROJECTLEADER = #{PROJECTLEADER},
		CONSTRUCTION = #{CONSTRUCTION},
		JOBLOCATION = #{JOBLOCATION},
		ENTERTIME = #{ENTERTIME},
		TENTERTIME =
		#{TENTERTIME},
		CHECKPOINT = #{CHECKPOINT},
		PROBLEM = #{PROBLEM},
		PROC_INST_ID_=#{PROC_INST_ID_},
		STATUS = #{STATUS},
		FILE_PATH =
		#{FILE_PATH},
		INTERVENTION = #{INTERVENTION}
		where
		ID = #{ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		ID = #{ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		H.ID,
		H.APPLYUSER,
		H.PROJECTNAME AS PROJ,
		H.PROJECTLEADER,
		H.CONSTRUCTION AS
		CONTRACTOR,
		H.JOBLOCATION AS AREA,
		H.ENTERTIME,
		H.TENTERTIME,
		H.CHECKPOINT,
		H.PROBLEM,
		H.COMMITTIME,
		H.PROC_INST_ID_,
		H.STATUS,
		H.FILE_PATH,
		H.INTERVENTION
		from
		<include refid="tableName"></include>
		H
		LEFT JOIN
		<include refid="ahitableName"></include>
		AHI
		ON H.PROC_INST_ID_ = AHI.PROC_INST_ID_
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			(
			H.CONSTRUCTION LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.PROJECTLEADER LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.JOBLOCATION LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.JOBLOCATION
			LIKE
			CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.PROC_INST_ID_ =
			#{pd.keywords}
			)
		</if>
		<if test="pd.APPLYUSER!= null and pd.APPLYUSER != ''">
			and H.APPLYUSER = #{pd.APPLYUSER}
		</if>
		<if test="pd.PROJECTNAME != null and pd.PROJECTNAME != ''"><!-- 按项目号检索 -->
			and H.PROJECTNAME=#{pd.PROJECTNAME}
		</if>
		<if test="pd.STATUS != null and pd.STATUS != ''"><!-- 按状态查询 -->
			and H.STATUS=#{pd.STATUS}
		</if>
		<if test="pd.ABOUTUSER != null and pd.ABOUTUSER != ''"><!-- 与我相关 -->
			and AHI.USER_ID_=#{pd.ABOUTUSER}
		</if>
		GROUP BY H.PROC_INST_ID_
		order by H.ID desc
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>