<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.fhoa.StaffInfoCheckMapper">

	<!--表名 -->
	<sql id="tableName">
		OA_INFOCHECK
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ID,
		CARD,
		NAME,
		PHONE,
		LABORRELATION,
		SERVICESDEPARTMENT,
		EMPLOYEETYPE,
		USERNO,
		TYPEOFWORK,
		TEAM,
		STATION,
		CERTIFICATIONS,
		PHOTO,
		CERTIFICATIONS_IMGS,
		STATUS
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},
		#{CARD},
		#{NAME},
		#{PHONE},
		#{LABORRELATION},
		#{SERVICESDEPARTMENT},
		#{EMPLOYEETYPE},
		#{USERNO},
		#{TYPEOFWORK},
		#{TEAM},
		#{STATION},
		#{CERTIFICATIONS},
		#{PHOTO},
		#{CERTIFICATIONS_IMGS},
		#{STATUS}
	</sql>

	<!-- 新增或更新 -->
	<insert id="InsertOrUpdate" parameterType="StaffInfo">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
		ON DUPLICATE KEY UPDATE
		ID = VALUES(#{ID}),
		CARD = VALUES(#{CARD}),
		NAME = VALUES(#{NAME}),
		PHONE = VALUES(#{PHONE}),
		LABORRELATION =
		VALUES(#{LABORRELATION}),
		SERVICESDEPARTMENT =
		VALUES(#{SERVICESDEPARTMENT}),
		EMPLOYEETYPE = VALUES(#{EMPLOYEETYPE}),
		USERNO = VALUES(#{USERNO}),
		TYPEOFWORK = VALUES(#{TYPEOFWORK}),
		TEAM =
		VALUES(#{TEAM}),
		STATION = VALUES(#{STATION}),
		CERTIFICATIONS =
		VALUES(#{CERTIFICATIONS}),
		PHOTO = VALUES(#{PHOTO}),
		CERTIFICATIONS_IMGS = VALUES(#{CERTIFICATIONS_IMGS}),
		STATUS =
		VALUES(#{STATUS})
	</insert>

	<!-- 通过CARD获取数据 -->
	<select id="findByCard" parameterType="String" resultType="pd">
		select
		a.ID,
		a.CARD,
		a.NAME,
		a.PHONE,
		a.REGISTERED,
		a.LABORRELATION,
		a.SERVICESDEPARTMENT,
		a.EMPLOYEETYPE,
		a.USERNO,
		a.TYPEOFWORK,
		a.TEAM,
		a.STATION,
		a.CERTIFICATIONS,
		a.PHOTO,
		a.CERTIFICATIONS_IMGS,
		a.STATUS
		from
		<include refid="tableName"></include>
		a
		where
		<if test="CARD !=null and CARD != ''">
			CARD = #{CARD}
		</if>
		LIMIT 1
	</select>
</mapper>