<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.warranty.WarrantyMapper">

	<!--表名 -->
	<sql id="tableName">
		BX_WARRANTY
	</sql>

	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		f.PROC_INST_ID_,
		f.STATUS,
		f.PROJ,
		f.WARRANTY_NO,
		f.COMMINT_DATE,
		f.CREATE_DATE,
		f.DETIAL,
		f.SYSTEM,
		f.REASON,
		f.RESPONSIBLE,
		f.CLOSE_DATE,
		f.MARK,
		f.WARRANTY_ID,
		f.FILENAME,
		f.FILEPATH,
		f.COMMIT_USER,
		f.ARCHIVE_DATE,
		f.ARCHIVE_MARK,
		f.SYNC,
		f.SYNC_TIME
	</sql>

	<!-- 字段用于新增 -->
	<sql id="Field2">
		PROC_INST_ID_,
		STATUS,
		PROJ,
		WARRANTY_NO,
		COMMINT_DATE,
		CREATE_DATE,
		DETIAL,
		SYSTEM,
		REASON,
		RESPONSIBLE,
		MARK,
		WARRANTY_ID,
		FILENAME,
		FILEPATH,
		COMMIT_USER
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PROC_INST_ID_},
		#{STATUS},
		#{PROJ},
		#{WARRANTY_NO},
		#{COMMINT_DATE},
		#{CREATE_DATE},
		#{DETIAL},
		#{SYSTEM},
		#{REASON},
		#{RESPONSIBLE},
		#{MARK},
		#{WARRANTY_ID},
		#{FILENAME},
		#{FILEPATH},
		#{COMMIT_USER}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field2"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		WARRANTY_ID = #{WARRANTY_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		PROJ = #{PROJ},
		WARRANTY_NO = #{WARRANTY_NO},
		COMMINT_DATE =
		#{COMMINT_DATE},
		DETIAL = #{DETIAL},
		SYSTEM = #{SYSTEM},
		STATUS =
		#{STATUS},
		REASON =
		#{REASON},
		RESPONSIBLE = #{RESPONSIBLE},
		MARK =
		#{MARK},
		FILENAME=#{FILENAME},
		FILEPATH=#{FILEPATH},
		ARCHIVE_DATE=#{ARCHIVE_DATE},
		ARCHIVE_MARK=#{ARCHIVE_MARK},
		WARRANTY_ID
		=
		WARRANTY_ID
		where
		WARRANTY_ID =
		#{WARRANTY_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where
		f.WARRANTY_ID = #{WARRANTY_ID}
	</select>

	<!-- 通过流程实例ID获取数据 -->
	<select id="findByPROC_INST_ID_" parameterType="pd"
		resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where 1=1
		<if test="PROC_INST_ID_!= null and PROC_INST_ID_ != ''">
			AND f.PROC_INST_ID_ = #{PROC_INST_ID_}
		</if>
	</select>

	<!-- 获取节点邮件数据 -->
	<select id="ListNodeMail" parameterType="pd" resultType="pd">
		select
		BWR.LINK_DATE,
		BWR.LINK_NODE_ID,
		BWR.LINK_TAG,
		BWR.MAIL_ID,
		BWR.MAIL_TAG,
		BWN.NODE_DATE,
		BWN.NODE_ITEM,
		BWN.NODE_NAME,
		BWN.NODE_USER,
		BWN.WARRANTY_ID,
		BWN.SUP,
		BMS.`SUBJECT` AS S_SUBJECT,
		BMI.`SUBJECT` AS
		I_SEBJECT
		from
		<include refid="tableName"></include>
		BW
		LEFT JOIN bx_warrantymailrela BWR ON BW.WARRANTY_ID =
		BWR.WARRANTY_ID
		LEFT JOIN bx_warrantynode BWN ON BWR.LINK_NODE_ID =
		BWN.WARRANTYNODE_ID
		LEFT JOIN bx_mailsentbox BMS ON BWR.MAIL_ID =
		BMS.MAILSENTBOX_ID
		LEFT JOIN bx_mailinbox BMI ON BWR.MAIL_ID =
		BMI.MAILINBOX_ID
		where 1=1
		AND BWR.`STATUS` = '1'
		AND BWN.`STATUS` = '1'
		<if test="PROC_INST_ID_!= null and PROC_INST_ID_ != ''">
			AND BW.PROC_INST_ID_ = #{PROC_INST_ID_}
		</if>
		ORDER BY BWR.LINK_DATE
	</select>

	<!-- 根据保单号获取节点邮件数据 -->
	<select id="ListNodeMailByWarrantyId" parameterType="pd"
		resultType="pd">
		select
		BWR.LINK_DATE,
		BWR.LINK_NODE_ID,
		BWN.NODE_ITEM,
		BWN.NODE_NAME,
		BWN.NODE_USER
		from
		<include refid="tableName"></include>
		BW
		LEFT JOIN bx_warrantymailrela BWR ON BW.WARRANTY_ID =
		BWR.WARRANTY_ID
		LEFT JOIN bx_warrantynode BWN ON BWR.LINK_NODE_ID =
		BWN.WARRANTYNODE_ID
		where 1=1
		AND BWR.`STATUS` = '1'
		AND BWN.`STATUS` =
		'1'
		<if test="WARRANTY_ID != null and WARRANTY_ID != ''">
			AND BW.WARRANTY_ID = #{WARRANTY_ID}
		</if>
		ORDER BY BWR.LINK_DATE
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		d3.BIANMA BIANMA3,
		d3.NAME DNAME3,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join
		<include refid="dicTableName"></include>
		d3
		on f.PROJ = d3.BIANMA
		where 1=1
		and f.STATUS != '0'
		<if test="pd.KEYWORDS!= null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
			(
			f.DETIAL LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
			or
			f.SYSTEM
			LIKE
			CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
			or
			f.MARK
			LIKE
			CONCAT(CONCAT('%',
			#{pd.KEYWORDS}),'%')
			or
			f.DETIAL
			LIKE
			CONCAT(CONCAT('%',
			#{pd.KEYWORDS}),'%')
			or
			f.WARRANTY_NO =
			#{pd.KEYWORDS}
			)
		</if>
		<if test="pd.PROJ != null and pd.PROJ != ''"><!-- 船号检索 -->
			AND f.PROJ = #{pd.PROJ}
		</if>
		<if test="pd.STATUS != null and pd.STATUS != ''"><!-- 状态检索 -->
			AND f.STATUS = #{pd.STATUS}
		</if>
		<if test="pd.SYSTEM != null and pd.SYSTEM != ''"><!-- 隶属系统检索 -->
			AND f.SYSTEM = #{pd.SYSTEM}
		</if>
		<if test="pd.REASON != null and pd.REASON != ''"><!-- 问题原因检索 -->
			AND f.REASON = #{pd.REASON}
		</if>
		<if test="pd.COMMIT_USER != null and pd.COMMIT_USER != ''"><!-- 发起人 -->
			AND f.COMMIT_USER = #{pd.COMMIT_USER}
		</if>
		order by f.CREATE_DATE desc
	</select>

	<!-- 列表，正在运行的流程 -->
	<select id="datalistPageOnRun" parameterType="page"
		resultType="pd">
		select
		d3.BIANMA BIANMA3,
		d3.NAME DNAME3,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join
		<include refid="dicTableName"></include>
		d3
		on f.PROJ = d3.BIANMA
		where 1=1
		and
		f.STATUS = '1'
		<if test="pd.KEYWORDS!= null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
			(
			f.DETIAL LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
			or
			f.REASON
			LIKE
			CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
			or
			f.SYSTEM
			LIKE
			CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
			or
			f.MARK
			LIKE
			CONCAT(CONCAT('%',
			#{pd.KEYWORDS}),'%')
			or
			f.DETIAL
			LIKE
			CONCAT(CONCAT('%',
			#{pd.KEYWORDS}),'%')
			or
			f.WARRANTY_NO =
			#{pd.KEYWORDS}
			)
		</if>
		order by f.CREATE_DATE desc
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where 1=1
		and f.STATUS != '0'
		<if test="KEYWORDS!= null and KEYWORDS != ''"><!-- 关键词检索 -->
			and
			(
			f.DETIAL LIKE CONCAT(CONCAT('%', #{KEYWORDS}),'%')
			or
			f.REASON
			LIKE
			CONCAT(CONCAT('%', #{KEYWORDS}),'%')
			or
			f.MARK
			LIKE
			CONCAT(CONCAT('%',
			#{KEYWORDS}),'%')
			or
			f.WARRANTY_NO =
			#{KEYWORDS}
			)
		</if>
		<if test="PROJ != null and PROJ != ''"><!-- 船号检索 -->
			AND f.PROJ = #{PROJ}
		</if>
		<if test="STATUS != null and STATUS != ''"><!-- 状态检索 -->
			AND f.STATUS = #{STATUS}
		</if>
		<if test="SYSTEM != null and SYSTEM != ''"><!-- 隶属系统检索 -->
			AND f.SYSTEM = #{SYSTEM}
		</if>
		<if test="REASON != null and REASON != ''"><!-- 问题原因检索 -->
			AND f.REASON = #{REASON}
		</if>
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		WARRANTY_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 未进行数据摆渡的数据源 -->
	<select id="listDataForFerry" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where 1=1
		and f.STATUS != '0'
		and f.SYNC = '0'
	</select>

	<!-- 批量将状态更新为已摆渡 -->
	<update id="UpdateSync" parameterType="String">
		update
		<include refid="tableName"></include>
		set SYNC = '1'
		where
		WARRANTY_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
</mapper>