<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.sbxj.SbxjSysMapper">

	<!--表名 -->
	<sql id="tableName">
		XJ_MAIN
	</sql>

	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	<!-- 设备表名 -->
	<sql id="sbTableName">
		XJ_EQUIPMENT
	</sql>
	<!-- 部门表名 -->
	<sql id="deptTableName">
		OA_DEPARTMENT
	</sql>
	<!-- 人员表名 -->
	<sql id="userTableName">
		SYS_USER
	</sql>
	<!-- 字段 -->
	<sql id="Field">
		f.ID,
		f.TYPE,
		f.CHECK_POINT,
		f.CHECK_CONCLUSION,
		f.CHECK_DATE,
		f.EQUIPMENT_ID,
		f.CHECK_IMG,
		f.MARK1,
		f.CHECK_USER,
		f.DEPT
	</sql>
	<!-- 设备字段 -->
	<sql id="xeField">
		xe.ID,
		xe.TYPE,
		xe.STATUS,
		xe.NAME,
		xe.SB_NO
	</sql>
	<!-- 字段用于新增 		CHECK_CONCLUSION,-->
	<sql id="Field2">
		ID,
		TYPE,
		CHECK_POINT,

		CHECK_DATE,
		EQUIPMENT_ID,
		CHECK_IMG,
		MARK1,
		CHECK_USER,
		DEPT,
		CHECK_AUDIO,
		CHECK_VIDEO
	</sql>

	<!-- 字段值#{CHECK_CONCLUSION}, -->
	<sql id="FieldValue">
		#{ID},
		#{TYPE},
		#{CHECK_POINT},
		
		#{CHECK_DATE},
		#{EQUIPMENT_ID},
		#{CHECK_IMG},
		#{MARK1},
		#{CHECK_USER},
		#{DEPT},
		#{CHECK_AUDIO},
		#{CHECK_VIDEO}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field2"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		ID = #{ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		CHECK_POINT = #{CHECK_POINT},
		MARK1 = #{MARK1}
		where
		ID = #{XJ_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where
		f.ID = #{ID}
	</select>

	<!-- 通过PROC_INST_ID_获取数据 -->
	<!-- 
	<select id="findByPROC_INST_ID_" parameterType="pd"
		resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where 1=1
		<if test="PROC_INST_ID_ != null and PROC_INST_ID_ != ''">
			and f.PROC_INST_ID_ = #{PROC_INST_ID_}
		</if>
	</select>
	 -->
	

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		f.ID,
		f.TYPE,
		f.CHECK_POINT,
		f.CHECK_CONCLUSION,
		f.CHECK_DATE,
		f.EQUIPMENT_ID,
		sb1.NAME SB_NAME,
		detp1.NAME DEPT_NAME,
		f.CHECK_IMG,
		f.MARK1,
		f.CHECK_USER,
		u1.NAME USER_NAME,
		f.DEPT
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join
		<include refid="sbTableName"></include>
		sb1
		on f.EQUIPMENT_ID = sb1.ID
		left join
		<include refid="deptTableName"></include>
		detp1
		on f.DEPT = detp1.DEPARTMENT_ID
		left join
		<include refid="userTableName"></include>
		u1
		on f.CHECK_USER = u1.NAME
		where 1=1 
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!-- 根据设备编号查设备 -->
	<select id="getTypeBySbno" parameterType="pd" resultType="pd">
		select sd.Name,
		<include refid="xeField"></include>
		from
		<include refid="sbTableName"></include>
		xe
		LEFT JOIN sys_dictionaries sd
		ON xe.TYPE = sd.DICTIONARIES_ID
		where 1=1
		<if test="SB_NO != null and SB_NO != ''">
			and xe.SB_NO = #{SB_NO}
		</if>
	</select>
	
	<!-- 设备待修状态设置 -->
	<update id="updateStatus" parameterType="pd">
		UPDATE xj_equipment xe
		set 
		xe.`STATUS` = #{STATUS}
		WHERE
		xe.SB_NO = #{SB_NO}
	</update>
		<!-- 新增设备 -->
	<insert id="addSb" parameterType="pd">
		insert into
		XJ_EQUIPMENT 
		(
			ID,TYPE,STATUS,NAME,SB_NO
		) values (
		#{ID},
		#{TYPE},
		#{STATUS},
		#{NAME},
		#{SB_NO}
		)
	</insert>
	<!-- 设备列表 -->
	<select id="getAllSblistPage" parameterType="page"
	resultType="pd">
	SELECT
	sd.BZ TYPE_NAME,
	xe.NAME,
	xe.SB_NO,
	xe.STATUS
	FROM
	xj_equipment xe
	LEFT JOIN sys_dictionaries sd ON xe.TYPE =
	sd.DICTIONARIES_ID
	WHERE
	xe.`STATUS` = '1'
		<if test="pd.TYPE != null and pd.TYPE != ''">
			and xe.TYPE = #{pd.TYPE}
		</if>
	</select>
	<!-- 问题添加 -->
	<insert id="addQuestion" parameterType="pd">
		INSERT INTO xj_action ( ID, XJ_ID, NEXT_USER, START_DATE, NOTE, STATUS,TYPE )
VALUES
	(
		#{ID},
		#{XJ_ID},
		#{NEXT_USER},
		#{START_DATE},
		#{NOTE},
		#{STATUS},
		#{TYPE}
		)
	</insert>
	<!-- 待办提醒 -->
	<select id="getSbxjTaskCount" parameterType="pd" resultType="pd">
		SELECT
 COUNT( XAC.ID ) AS TaskCount
FROM
 xj_action XAC 
 LEFT JOIN xj_main XM
 ON XAC.XJ_ID = XM.ID
WHERE
 XAC.NEXT_USER = #{NEXT_USER} 
 AND XAC.`STATUS` = '0'
 AND XM.CHECK_USER != ""
	</select>
</mapper>