<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.fhoa.PenTuMapper">

	<!--表名 -->
	<sql id="tableName">
		OA_PENTU
	</sql>

	<!--历史流程参与者表 -->
	<sql id="ahitableName">
		ACT_HI_IDENTITYLINK
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ID,
		APPLYUSER,
		SPRAYPART,
		WORKZOON,
		STARTTIME,
		ENDTIME,
		OIL1,
		OIL2,
		OIL3,
		STATUS,
		PROC_INST_ID_,
		OPERATE,
		HAVESPACE,
		DRAUGHT,
		FGUARDIAN,
		OPERATOR,
		PRINCIPAL,
		AGUARDIAN,
		SAFETY,
		CHECKPOINT,
		COMMITTIME,
		PAREA,
		PROJ,
		INTERVENTION
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},
		#{APPLYUSER},
		#{SPRAYPART},
		#{WORKZOON},
		#{STARTTIME},
		#{ENDTIME},
		#{OIL1},
		#{OIL2},
		#{OIL3},
		#{STATUS},
		#{PROC_INST_ID_},
		#{OPERATE},
		#{HAVESPACE},
		#{DRAUGHT},
		#{FGUARDIAN},
		#{OPERATOR},
		#{PRINCIPAL},
		#{AGUARDIAN},
		#{SAFETY},
		#{CHECKPOINT},
		#{COMMITTIME},
		#{PAREA},
		#{PROJ},
		#{INTERVENTION}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		ID = #{ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		APPLYUSER=#{APPLYUSER},
		SPRAYPART=#{SPRAYPART},
		WORKZOON=#{WORKZOON},
		STARTTIME=#{STARTTIME},
		ENDTIME=#{ENDTIME},
		OIL1=#{OIL1},
		OIL2=#{OIL2},
		OIL3=#{OIL3},
		PROC_INST_ID_=#{PROC_INST_ID_},
		STATUS=#{STATUS},
		OPERATE=#{OPERATE},
		DRAUGHT=#{DRAUGHT},
		HAVESPACE=#{HAVESPACE},
		FGUARDIAN=#{FGUARDIAN},
		OPERATOR=#{OPERATOR},
		PRINCIPAL=#{PRINCIPAL},
		AGUARDIAN=#{AGUARDIAN},
		SAFETY=#{SAFETY},
		CHECKPOINT=#{CHECKPOINT},
		COMMITTIME=#{COMMITTIME},
		PAREA=#{PAREA},
		PROJ=#{PROJ},
		INTERVENTION = #{INTERVENTION}
		where
		ID =
		#{ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		ID = #{ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		H.ID,
		H.APPLYUSER,
		H.SPRAYPART,
		H.WORKZOON AS CONTRACTOR,
		H.STARTTIME,
		H.ENDTIME,
		H.OIL1,
		H.OIL2,
		H.OIL3,
		H.OPERATE,
		H.DRAUGHT,
		H.FGUARDIAN,
		H.OPERATOR,
		H.PRINCIPAL,
		H.AGUARDIAN,
		H.SAFETY,
		H.HAVESPACE,
		H.STATUS,
		H.PROC_INST_ID_,
		H.CHECKPOINT,
		H.COMMITTIME,
		H.PAREA AS AREA,
		H.PROJ,
		H.INTERVENTION
		from
		<include refid="tableName"></include>
		H
		LEFT JOIN
		<include refid="ahitableName"></include>
		AHI
		ON H.PROC_INST_ID_ = AHI.PROC_INST_ID_
		where 1=1
		and H.STATUS != '0'
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
			(
			H.WORKZOON LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.OPERATOR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.FGUARDIAN
			LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or
			H.PAREA
			LIKE
			CONCAT(CONCAT('%', #{pd.keywords}),'%')
			or H.PROC_INST_ID_ =
			#{pd.keywords}
			)
		</if>
		<if test="pd.APPLYUSER!= null and pd.APPLYUSER != ''">
			and H.APPLYUSER = #{pd.APPLYUSER}
		</if>
		<if test="pd.STATUS != null and pd.STATUS != ''"><!-- 按状态查询 -->
			and H.STATUS=#{pd.STATUS}
		</if>
		<if test="pd.ABOUTUSER != null and pd.ABOUTUSER != ''"><!-- 与我相关 -->
			and AHI.USER_ID_=#{pd.ABOUTUSER}
		</if>
		GROUP BY H.PROC_INST_ID_
		order by H.ID desc
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
</mapper>