<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.fhoa.RegisteredMapper">

	<!--表名 -->
	<sql id="tableName">
		OA_REGISTERED_LIST
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ID,
		CARD,
		NAME,
		PHONE,
		REGISTERED,
		LABORRELATION,
		SERVICESDEPARTMENT,
		EMPLOYEETYPE,
		USERNO,
		EMPLOYER,
		WAYS,
		MAJOR,
		STATION,
		GENDER,
		JOB,
		PHOTO,
		TEAM,
		ONJOB,
		PHOTO_URL,
		ALREADY_DOWN
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ID},
		#{CARD},
		#{NAME},
		#{PHONE},
		#{REGISTERED},
		#{LABORRELATION},
		#{SERVICESDEPARTMENT},
		#{EMPLOYEETYPE},
		#{USERNO},
		#{EMPLOYER},
		#{WAYS},
		#{MAJOR},
		#{STATION},
		#{GENDER},
		#{JOB},
		#{PHOTO},
		#{TEAM},
		#{ONJOB},
		#{PHOTO_URL},
		#{ALREADY_DOWN}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="Registered">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="String" resultType="pd">
		select
		a.ID,
		a.CARD,
		a.NAME,
		a.PHONE,
		a.REGISTERED,
		a.LABORRELATION,
		a.SERVICESDEPARTMENT,
		a.EMPLOYEETYPE,
		a.USERNO,
		a.EMPLOYER,
		a.WAYS,
		a.MAJOR,
		a.STATION,
		a.GENDER,
		a.JOB,
		a.PHOTO,
		a.TEAM,
		a.ONJOB,
		a.PHOTO_URL,
		a.ALREADY_DOWN
		from
		<include refid="tableName"></include>
		a
		where
		<if test="CARD !=null and CARD != ''">
			CARD = #{CARD}
			OR 
			USERNO = #{USERNO}
		</if>
		LIMIT 1
	</select>

	<!-- 通过身份证、姓名或工号查询数据 -->
	<select id="findByCodeOrName" parameterType="pd" resultType="pd">
		select
		a.ID,
		a.CARD,
		a.NAME,
		a.PHONE,
		a.REGISTERED,
		a.LABORRELATION,
		a.SERVICESDEPARTMENT,
		a.EMPLOYEETYPE,
		a.USERNO,
		a.EMPLOYER,
		a.WAYS,
		a.MAJOR,
		a.STATION,
		a.GENDER,
		a.JOB,
		a.PHOTO,
		a.TEAM,
		a.ONJOB,
		a.PHOTO_URL,
		a.ALREADY_DOWN
		from
		<include refid="tableName"></include>
		a
		where 1=1
		<if test="KEYWORDS !=null and KEYWORDS != ''">
			and (
				a.CARD = #{KEYWORDS}
				or a.USERNO = #{KEYWORDS}
				or a.`NAME` = #{KEYWORDS}
			)
		</if>
	</select>

	<!-- 获取全部数据 -->
	<select id="getAll" resultType="Registered">
		select
		a.ID,
		a.CARD,
		a.NAME,
		a.PHONE,
		a.REGISTERED,
		a.LABORRELATION,
		a.SERVICESDEPARTMENT,
		a.EMPLOYEETYPE,
		a.USERNO,
		a.EMPLOYER,
		a.WAYS,
		a.MAJOR,
		a.STATION,
		a.GENDER,
		a.JOB,
		a.PHOTO,
		a.TEAM,
		a.ONJOB,
		a.PHOTO_URL,
		a.ALREADY_DOWN
		from
		<include refid="tableName"></include>
		a
		where 1=1
	</select>

	<!-- 更新状态和手机号 -->
	<update id="updateStatus" parameterType="Registered">
		update
		<include refid="tableName"></include>
		set
		REGISTERED = #{REGISTERED},
		PHONE = #{PHONE}
		where
		ID = #{ID}
	</update>

	<!-- 通过CARD批量更新状态为0 -->
	<update id="updateStatusByCardIdTo0" parameterType="String">
		update
		<include refid="tableName"></include>
		set
		REGISTERED = '0'
		where
		CARD in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
		and
		REGISTERED != '1'
	</update>

	<!-- 通过CARD批量更新状态为1 -->
	<update id="updateStatusByCardIdTo1" parameterType="String">
		update
		<include refid="tableName"></include>
		set
		REGISTERED = '1'
		where
		CARD in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
		and
		REGISTERED != '1'
	</update>

	<!-- 通过身份证号删除 -->
	<delete id="delete" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		CARD = #{CARD}
	</delete>
	
	<!-- 通过身份证号更新白名单基础数据 -->
	<update id="updateListInfo" parameterType="Registered">
		update
		<include refid="tableName"></include>
		set
		LABORRELATION = #{LABORRELATION},
		SERVICESDEPARTMENT = #{SERVICESDEPARTMENT},
		EMPLOYEETYPE = #{EMPLOYEETYPE},
		USERNO = #{USERNO},
		EMPLOYER= #{EMPLOYER},
		WAYS= #{WAYS},
		MAJOR= #{MAJOR},
		STATION= #{STATION},
		GENDER= #{GENDER},
		JOB= #{JOB},
		PHOTO= #{PHOTO},
		TEAM= #{TEAM},
		ONJOB= #{ONJOB},
		PHOTO_URL= #{PHOTO_URL}
		where
		CARD = #{CARD}
	</update>

	<!-- 通过身份证号更新照片下载状态 -->
	<update id="updateALREADY_DOWN" parameterType="Registered">
		update
		<include refid="tableName"></include>
		set
		ALREADY_DOWN= #{ALREADY_DOWN}
		where
		CARD = #{CARD}
	</update>

	<!-- 随机选择一个数据 -->
	<select id="shake" parameterType="pd" resultType="pd">
	SELECT
	*
	FROM
	(SELECT * FROM oa_registered_list WHERE SUBSTRING( CARD, 17, 1 ) IN ( 0, 2, 4, 6, 8 )) AS t1
		ORDER BY
	rand()
	LIMIT 1
	</select>
</mapper>