<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.ins.InsBoardMapper">

	<!-- 隐患类型分布 -->
	<select id="TypeBoard" resultType="pd">
		SELECT II.INS_TYPE_L1 ,
		SD.NAME,
		COUNT(*) COUNT1
		FROM INS_INSSYS II
		LEFT JOIN sys_dictionaries SD
		ON II.INS_TYPE_L1 = SD.DICTIONARIES_ID
		WHERE II.INS_TYPE_L1 IS NOT NULL
		GROUP BY II.INS_TYPE_L1
	</select>

	<!-- 隐患状态分布 -->
	<select id="StatusBoard" resultType="pd">
		SELECT
		BB.STATUS,SUM(BB.COUNT1) COUNT1
		FROM
		(SELECT
		CASE
		WHEN II.STATUS = '1' OR
		II.STATUS = '5' THEN '已发现'
		WHEN II.STATUS = '2' THEN '已整改'
		WHEN
		II.STATUS = '3' OR II.STATUS = '6' THEN '已封闭'
		ELSE '未知状态' END STATUS,
		COUNT(*) COUNT1
		FROM INS_INSSYS II
		WHERE II.STATUS != '0' and II.STATUS
		!= '4'
		GROUP BY II.STATUS)BB
		GROUP BY BB.STATUS
	</select>


	<!-- 隐患发起Top分布 -->
	<select id="LaunchTop" parameterType="pd" resultType="pd">
		SELECT
		II.INIT_USER,
		COUNT(II.INIT_USER) as HAOREN
		FROM
		(SELECT
		INIT_USER,
		INIT_DATE
		FROM ins_inssys
		where 1=1
		<if test="LaunchTopSTARTTIME!=null and LaunchTopSTARTTIME!=''">	<!-- 发现隐患时间检索 -->
			and INIT_DATE &gt;= #{LaunchTopSTARTTIME}
		</if>
		<if test="LaunchTopENDTIME!=null and LaunchTopENDTIME!=''">		<!-- 发现隐患时间检索 -->
			and INIT_DATE &lt;= #{LaunchTopENDTIME}
		</if>
		)II
		GROUP BY
		II.INIT_USER
		ORDER BY
		HAOREN DESC
		LIMIT 5
	</select>

	<!-- 隐患整改Top分布 -->
	<select id="AbarbeitungTop" parameterType="pd" resultType="pd">
		SELECT 
		II.TO_,
		COUNT( II.TO_ ) AS DAHAOREN 
		FROM
		(SELECT
		TO_,
		CLOSE_DATE
		FROM ins_inssys
		WHERE CLOSE_DATE IS NOT NULL
		AND TO_ IS NOT NULL
		<if test="AbarbeitungTopSTARTTIME !=null and AbarbeitungTopSTARTTIME !=''">	<!-- 发现隐患时间检索 -->
			and CLOSE_DATE &gt;= #{AbarbeitungTopSTARTTIME}
		</if>
		<if test="AbarbeitungTopENDTIME !=null and AbarbeitungTopENDTIME !=''">		<!-- 发现隐患时间检索 -->
			and CLOSE_DATE &lt;= #{AbarbeitungTopENDTIME}
		</if>
		)II
		GROUP BY
		II.TO_
		ORDER BY
		DAHAOREN DESC
		LIMIT 5
	</select>
</mapper>