<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.ins.InsSysMapper">

	<!--表名 -->
	<sql id="tableName">
		INS_INSSYS
	</sql>

	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		f.INSSYS_ID,
		f.INIT_USER,
		f.INIT_DEPT,
		f.INIT_DATE,
		f.PROC_INST_ID_,
		f.AREA,
		f.RESPONSIBLE_UNIT,
		f.MP_UNIT,
		f.TO_,
		f.CC_,
		f.CLOSE_USER,
		f.INS_TYPE_L1,
		f.INS_TYPE_L2,
		f.WORK_TYPE,
		f.INS_DETIAL,
		f.INS_LEVEL,
		f.LATEST_RECTIFY_DATE,
		f.RECTIFY_SUGGEST,
		f.CLOSE_DATE,
		f.REASON_ANALYSIS,
		f.INS_PROJ,
		f.CONTRACTOR,
		f.STATUS,
		f.FINE,
		f.CHECK_TYPE
	</sql>

	<!-- 字段用于新增 -->
	<sql id="Field2">
		INSSYS_ID,
		INIT_USER,
		INIT_DEPT,
		PROC_INST_ID_,
		AREA,
		RESPONSIBLE_UNIT,
		MP_UNIT,
		INS_PROJ,
		TO_,
		CC_,
		CLOSE_USER,
		INS_TYPE_L1,
		INS_TYPE_L2,
		WORK_TYPE,
		INS_DETIAL,
		INS_LEVEL,
		LATEST_RECTIFY_DATE,
		RECTIFY_SUGGEST,
		STATUS,
		FINE,
		CHECK_TYPE
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{INSSYS_ID},
		#{INIT_USER},
		#{INIT_DEPT},
		#{PROC_INST_ID_},
		#{AREA},
		#{RESPONSIBLE_UNIT},
		#{MP_UNIT},
		#{INS_PROJ},
		#{TO_},
		#{CC_},
		#{CLOSE_USER},
		#{INS_TYPE_L1},
		#{INS_TYPE_L2},
		#{WORK_TYPE},
		#{INS_DETIAL},
		#{INS_LEVEL},
		#{LATEST_RECTIFY_DATE},
		#{RECTIFY_SUGGEST},
		#{STATUS},
		#{FINE},
		#{CHECK_TYPE}
	</sql>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field2"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		INSSYS_ID = #{INSSYS_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
		PROC_INST_ID_ = #{PROC_INST_ID_},
		AREA = #{AREA},
		RESPONSIBLE_UNIT =
		#{RESPONSIBLE_UNIT},
		MP_UNIT = #{MP_UNIT},
		INS_PROJ = #{INS_PROJ},
		TO_ =
		#{TO_},
		CC_ = #{CC_},
		CLOSE_USER = #{CLOSE_USER},
		INS_TYPE_L1 =
		#{INS_TYPE_L1},
		INS_TYPE_L2 = #{INS_TYPE_L2},
		WORK_TYPE = #{WORK_TYPE},
		INS_LEVEL = #{INS_LEVEL},
		LATEST_RECTIFY_DATE = #{LATEST_RECTIFY_DATE},
		RECTIFY_SUGGEST = #{RECTIFY_SUGGEST},
		CLOSE_DATE = #{CLOSE_DATE},
		CLOSE_USER = #{CLOSE_USER},
		REASON_ANALYSIS = #{REASON_ANALYSIS},
		INS_PROJ = #{INS_PROJ},
		STATUS = #{STATUS}
		where
		INSSYS_ID = #{INSSYS_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where
		f.INSSYS_ID = #{INSSYS_ID}
	</select>

	<!-- 通过PROC_INST_ID_获取数据 -->
	<select id="findByPROC_INST_ID_" parameterType="pd"
		resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		where 1=1
		<if test="PROC_INST_ID_ != null and PROC_INST_ID_ != ''">
			and f.PROC_INST_ID_ = #{PROC_INST_ID_}
		</if>
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		d4.BIANMA AREA_VALUE,
		d4.NAME AREA_NAME,
		d8.BIANMA
		INS_TYPE_L1_VALUE,
		d8.NAME INS_TYPE_L1_NAME,
		d10.BIANMA
		INS_TYPE_L2_VALUE,
		d10.NAME INS_TYPE_L2_NAME,
		d9.BIANMA WORK_TYPE_VALUE,
		d9.NAME WORK_TYPE_NAME,
		d11.BIANMA INS_LEVEL_VALUE,
		d11.NAME
		INS_LEVEL_NAME,
		d12.BIANMA RESPONSIBLE_UNIT_VALUE,
		d12.NAME
		RESPONSIBLE_UNIT_NAME,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join
		<include refid="dicTableName"></include>
		d4
		on f.AREA = d4.BIANMA
		left join
		<include refid="dicTableName"></include>
		d8
		on f.INS_TYPE_L1 = d8.BIANMA
		left join
		<include refid="dicTableName"></include>
		d10
		on f.INS_TYPE_L2 = d10.BIANMA
		left join
		<include refid="dicTableName"></include>
		d9
		on f.WORK_TYPE = d9.BIANMA
		left join
		<include refid="dicTableName"></include>
		d11
		on f.INS_LEVEL = d11.BIANMA
		left join
		<include refid="dicTableName"></include>
		d12
		on f.RESPONSIBLE_UNIT = d12.BIANMA
		where 1=1 and f.STATUS != '0'
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词 -->
			and
			(f.INS_DETIAL LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')<!-- 隐患描述 -->
			or
			f.RECTIFY_SUGGEST LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') <!-- 整改建议 -->
			)
		</if>
		<if test="pd.INIT_USER != null and pd.INIT_USER != ''"><!-- 发起 -->
			and f.INIT_USER = #{pd.INIT_USER}
		</if>
		<if test="pd.TO_ != null and pd.TO_ != ''"><!-- 主送 -->
			and (
			f.TO_ = #{pd.TO_}
			or
			f.TO_ in ${pd.RNUMBERS}
			)
		</if>
		<if test="pd.CC_ != null and pd.CC_ != ''"><!-- 抄送 -->
			and (
			f.CC_ = #{pd.CC_}
			or
			f.CC_ in ${pd.RNUMBERS}
			)
		</if>
		<if
			test="pd.RESPONSIBLE_UNIT != null and pd.RESPONSIBLE_UNIT != ''"><!-- 我部隐患 -->
			and f.RESPONSIBLE_UNIT = #{pd.RESPONSIBLE_UNIT}
		</if>
		<if test="pd.STATUS != null and pd.STATUS != ''"><!-- 状态检索 -->
			and f.STATUS = #{pd.STATUS}
		</if>
		<if
			test="pd.LATEST_RECTIFY_DATE != null and pd.LATEST_RECTIFY_DATE != ''"><!-- 超时未改 -->
			and f.LATEST_RECTIFY_DATE &lt; CURRENT_DATE
		</if>
		order by f.INIT_DATE desc
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
		INSSYS_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 未进行数据摆渡的数据源 -->
	<select id="listDataForFerry" parameterType="pd" resultType="pd">
		select
		d4.BIANMA AREA_VALUE,
		d4.NAME AREA_NAME,
		d8.BIANMA
		INS_TYPE_L1_VALUE,
		d8.NAME INS_TYPE_L1_NAME,
		d10.BIANMA
		INS_TYPE_L2_VALUE,
		d10.NAME INS_TYPE_L2_NAME,
		d9.BIANMA WORK_TYPE_VALUE,
		d9.NAME WORK_TYPE_NAME,
		d11.BIANMA INS_LEVEL_VALUE,
		d11.NAME
		INS_LEVEL_NAME,
		d12.BIANMA RESPONSIBLE_UNIT_VALUE,
		d12.NAME
		RESPONSIBLE_UNIT_NAME,
		detp.NAME INIT_DEPT_NAME,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join
		<include refid="dicTableName"></include>
		d4
		on f.AREA = d4.BIANMA
		left join
		<include refid="dicTableName"></include>
		d8
		on f.INS_TYPE_L1 = d8.BIANMA
		left join
		<include refid="dicTableName"></include>
		d10
		on f.INS_TYPE_L2 = d10.BIANMA
		left join
		<include refid="dicTableName"></include>
		d9
		on f.WORK_TYPE = d9.BIANMA
		left join
		<include refid="dicTableName"></include>
		d11
		on f.INS_LEVEL = d11.BIANMA
		left join
		<include refid="dicTableName"></include>
		d12
		on f.RESPONSIBLE_UNIT = d12.BIANMA
		LEFT JOIN
		oa_department detp
		on
		f.INIT_DEPT = detp.DEPARTMENT_ID
		where 1=1
		and f.STATUS != '0'
		and
		f.SYNC_STATUS = '0'
	</select>

	<!-- 统计与导出,带分页 -->
	<select id="DataStatisticslistPage" parameterType="page"
		resultType="pd">
		select
		d4.BIANMA AREA_VALUE,
		d4.NAME AREA_NAME,
		d8.BIANMA
		INS_TYPE_L1_VALUE,
		d8.NAME INS_TYPE_L1_NAME,
		d10.BIANMA
		INS_TYPE_L2_VALUE,
		d10.NAME INS_TYPE_L2_NAME,
		d9.BIANMA WORK_TYPE_VALUE,
		d9.NAME WORK_TYPE_NAME,
		d11.BIANMA INS_LEVEL_VALUE,
		d11.NAME
		INS_LEVEL_NAME,
		d12.BIANMA RESPONSIBLE_UNIT_VALUE,
		d12.NAME
		RESPONSIBLE_UNIT_NAME,
		detp.NAME INIT_DEPT_NAME,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join
		<include refid="dicTableName"></include>
		d4
		on f.AREA = d4.BIANMA
		left join
		<include refid="dicTableName"></include>
		d8
		on f.INS_TYPE_L1 = d8.BIANMA
		left join
		<include refid="dicTableName"></include>
		d10
		on f.INS_TYPE_L2 = d10.BIANMA
		left join
		<include refid="dicTableName"></include>
		d9
		on f.WORK_TYPE = d9.BIANMA
		left join
		<include refid="dicTableName"></include>
		d11
		on f.INS_LEVEL = d11.BIANMA
		left join
		<include refid="dicTableName"></include>
		d12
		on f.RESPONSIBLE_UNIT = d12.BIANMA
		LEFT JOIN
		oa_department detp
		on
		f.INIT_DEPT = detp.DEPARTMENT_ID
		where 1=1
		<if test="pd.STATUS != null and pd.STATUS != ''"><!-- 状态检索 -->
			and f.STATUS = #{pd.STATUS}
		</if>
		<if
			test="pd.RESPONSIBLE_UNIT != null and pd.RESPONSIBLE_UNIT != ''"><!-- 责任部门 -->
			and f.RESPONSIBLE_UNIT = #{pd.RESPONSIBLE_UNIT}
		</if>
		<if test="pd.INIT_DEPT != null and pd.INIT_DEPT != ''"><!-- 发起部门 -->
			and f.INIT_DEPT = #{pd.INIT_DEPT}
		</if>
		<if test="pd.STRARTTIME!=null and pd.STRARTTIME!=''">	<!-- 发现隐患时间检索 -->
			and f.INIT_DATE &gt;= #{pd.STRARTTIME}
		</if>
		<if test="pd.ENDTIME!=null and pd.ENDTIME!=''">		 	<!-- 发现隐患时间检索 -->
			and f.INIT_DATE &lt;= #{pd.ENDTIME}
		</if>
		<if test="pd.LATEST_RECTIFY_DATE != null and pd.LATEST_RECTIFY_DATE != ''"><!-- 超时未改 -->
			and f.LATEST_RECTIFY_DATE &lt; CURRENT_DATE
		</if>
		and f.STATUS != '0'
		order by f.INIT_DATE desc
	</select>

	<!-- 统计与导出,不带分页 -->
	<select id="DataStatisticsExport" parameterType="pd"
		resultType="pd">
		select
		d4.BIANMA AREA_VALUE,
		d4.NAME AREA_NAME,
		d8.BIANMA
		INS_TYPE_L1_VALUE,
		d8.NAME INS_TYPE_L1_NAME,
		d10.BIANMA
		INS_TYPE_L2_VALUE,
		d10.NAME INS_TYPE_L2_NAME,
		d9.BIANMA WORK_TYPE_VALUE,
		d9.NAME WORK_TYPE_NAME,
		d11.BIANMA INS_LEVEL_VALUE,
		d11.NAME
		INS_LEVEL_NAME,
		d12.BIANMA RESPONSIBLE_UNIT_VALUE,
		d12.NAME
		RESPONSIBLE_UNIT_NAME,
		detp.NAME INIT_DEPT_NAME,
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		f
		left join
		<include refid="dicTableName"></include>
		d4
		on f.AREA = d4.BIANMA
		left join
		<include refid="dicTableName"></include>
		d8
		on f.INS_TYPE_L1 = d8.BIANMA
		left join
		<include refid="dicTableName"></include>
		d10
		on f.INS_TYPE_L2 = d10.BIANMA
		left join
		<include refid="dicTableName"></include>
		d9
		on f.WORK_TYPE = d9.BIANMA
		left join
		<include refid="dicTableName"></include>
		d11
		on f.INS_LEVEL = d11.BIANMA
		left join
		<include refid="dicTableName"></include>
		d12
		on f.RESPONSIBLE_UNIT = d12.BIANMA
		LEFT JOIN
		oa_department detp
		on
		f.INIT_DEPT = detp.DEPARTMENT_ID
		where 1=1
		<if test="STATUS != null and STATUS != ''"><!-- 状态检索 -->
			and f.STATUS = #{STATUS}
		</if>
		<if test="RESPONSIBLE_UNIT != null and RESPONSIBLE_UNIT != ''"><!-- 责任部门 -->
			and f.RESPONSIBLE_UNIT = #{RESPONSIBLE_UNIT}
		</if>
		<if test="INIT_DEPT != null and INIT_DEPT != ''"><!-- 发起部门 -->
			and f.INIT_DEPT = #{INIT_DEPT}
		</if>
		<if test="STRARTTIME!=null and STRARTTIME!=''">	<!-- 发现隐患时间检索 -->
			and f.INIT_DATE &gt;= #{STRARTTIME}
		</if>
		<if test="ENDTIME!=null and ENDTIME!=''">		 	<!-- 发现隐患时间检索 -->
			and f.INIT_DATE &lt;= #{ENDTIME}
		</if>
		<if test="LATEST_RECTIFY_DATE != null and LATEST_RECTIFY_DATE != ''"><!-- 超时未改 -->
			and f.LATEST_RECTIFY_DATE &lt; CURRENT_DATE
		</if>
		and f.STATUS != '0'
		order by f.INIT_DATE desc
	</select>

	<!-- 部门隐患分类汇总 -->
	<select id="DeptInsSubtotals" parameterType="pd" resultType="pd">
		SELECT REPLACE
		( SD1.`NAME`, '区域定义', '' ) AS INS_DEPT,
		SD2.`NAME` AS
		INS_TYPE,
		COUNT( INS.INSSYS_ID ) AS INS_COUNT
		FROM
		ins_inssys INS
		LEFT
		JOIN sys_dictionaries SD1 ON INS.RESPONSIBLE_UNIT =
		SD1.DICTIONARIES_ID
		LEFT JOIN sys_dictionaries SD2 ON INS.INS_TYPE_L1 =
		SD2.DICTIONARIES_ID
		WHERE
		1 = 1
		<if test="STATUS != null and STATUS != ''"><!-- 状态检索 -->
			and INS.STATUS = #{STATUS}
		</if>
		<if test="STRARTTIME!=null and STRARTTIME!=''">	<!-- 发现隐患时间检索 -->
			and INS.INIT_DATE &gt;= #{STRARTTIME}
		</if>
		<if test="ENDTIME!=null and ENDTIME!=''">		 	<!-- 发现隐患时间检索 -->
			and INS.INIT_DATE &lt;= #{ENDTIME}
		</if>
		GROUP BY
		SD1.`NAME`,
		SD2.`NAME`
		<!-- ORDER BY SD1.`NAME`, SD2.`NAME`, INS.INSSYS_ID -->
	</select>

	<!-- 批量将状态更新为已摆渡 -->
	<update id="UpdateSync" parameterType="String">
		update
		<include refid="tableName"></include>
		set SYNC_STATUS = '1'
		where
		INSSYS_ID in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</update>
</mapper>